body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
  background-color: #343330;
  
}

header{
  text-align: center;
  background-color: skyblue;
  
}

footer {
  background-color: #343330;
  text-align: center;
}

p {

}

.aboutText{
  color: pink;
  text-align: left;
}

#specificNote{

  color: red;

}








